{% extends "base.html" %}
{% load static %}
{% block title %}Feed{% endblock %}

{% block content %}


<div class="feed-wrapper">
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search posts or content..."></div>
    <div id="feeds"></div>
</div>
   
<!-- Comment Modal -->
<script src="{% static 'js/api.js' %}" ></script>
<script src="{% static 'js/navbar.js' %}" ></script>
<script src="{% static 'js/feed.js' %}"></script>
<script src="{% static 'js/posts.js' %}"></script>

<script>
    loadNavbar();
    loadPosts();
</script>

{% endblock %}
